<div class="game">
  <div class="grid">
    <!--Border Row-->
    <div class="border_box_horizntal border_box_special1"></div>
    <div class="border_box_horizntal">a</div>
    <div class="border_box_horizntal">b</div>
    <div class="border_box_horizntal">c</div>
    <div class="border_box_horizntal">d</div>
    <div class="border_box_horizntal">e</div>
    <div class="border_box_horizntal">f</div>
    <div class="border_box_horizntal">g</div>
    <div class="border_box_horizntal">h</div>
    <div class="border_box_horizntal border_box_special2"></div>
    <!--Row 1-->
    <div class="border_box_vertical">8</div>
    <div class="black_box" id="18" (click)="boxClicked('18')"></div>
    <div class="white_box" id="28" (click)="boxClicked('28')"></div>
    <div class="black_box" id="38" (click)="boxClicked('38')"></div>
    <div class="white_box" id="48" (click)="boxClicked('48')"></div>
    <div class="black_box" id="58" (click)="boxClicked('58')"></div>
    <div class="white_box" id="68" (click)="boxClicked('68')"></div>
    <div class="black_box" id="78" (click)="boxClicked('78')"></div>
    <div class="white_box" id="88" (click)="boxClicked('88')"></div>
    <div class="border_box_vertical">8</div>
    <!--Row 2-->
    <div class="border_box_vertical">7</div>
    <div class="white_box" id="17" (click)="boxClicked('17')"></div>
    <div class="black_box" id="27" (click)="boxClicked('27')"></div>
    <div class="white_box" id="37" (click)="boxClicked('37')"></div>
    <div class="black_box" id="47" (click)="boxClicked('47')"></div>
    <div class="white_box" id="57" (click)="boxClicked('57')"></div>
    <div class="black_box" id="67" (click)="boxClicked('67')"></div>
    <div class="white_box" id="77" (click)="boxClicked('77')"></div>
    <div class="black_box" id="87" (click)="boxClicked('87')"></div>
    <div class="border_box_vertical">7</div>
    <!--Row 3-->
    <div class="border_box_vertical">6</div>
    <div class="black_box" id="16" (click)="boxClicked('16')"></div>
    <div class="white_box" id="26" (click)="boxClicked('26')"></div>
    <div class="black_box" id="36" (click)="boxClicked('36')"></div>
    <div class="white_box" id="46" (click)="boxClicked('46')"></div>
    <div class="black_box" id="56" (click)="boxClicked('56')"></div>
    <div class="white_box" id="66" (click)="boxClicked('66')"></div>
    <div class="black_box" id="76" (click)="boxClicked('76')"></div>
    <div class="white_box" id="86" (click)="boxClicked('86')"></div>
    <div class="border_box_vertical">6</div>
    <!--Row 4-->
    <div class="border_box_vertical">5</div>
    <div class="white_box" id="15" (click)="boxClicked('15')"></div>
    <div class="black_box" id="25" (click)="boxClicked('25')"></div>
    <div class="white_box" id="35" (click)="boxClicked('35')"></div>
    <div class="black_box" id="45" (click)="boxClicked('45')"></div>
    <div class="white_box" id="55" (click)="boxClicked('55')"></div>
    <div class="black_box" id="65" (click)="boxClicked('65')"></div>
    <div class="white_box" id="75" (click)="boxClicked('75')"></div>
    <div class="black_box" id="85" (click)="boxClicked('85')"></div>
    <div class="border_box_vertical">5</div>
    <!--Row 5-->
    <div class="border_box_vertical">4</div>
    <div class="black_box" id="14" (click)="boxClicked('14')"></div>
    <div class="white_box" id="24" (click)="boxClicked('24')"></div>
    <div class="black_box" id="34" (click)="boxClicked('34')"></div>
    <div class="white_box" id="44" (click)="boxClicked('44')"></div>
    <div class="black_box" id="54" (click)="boxClicked('54')"></div>
    <div class="white_box" id="64" (click)="boxClicked('64')"></div>
    <div class="black_box" id="74" (click)="boxClicked('74')"></div>
    <div class="white_box" id="84" (click)="boxClicked('84')"></div>
    <div class="border_box_vertical">4</div>
    <!--Row 6-->
    <div class="border_box_vertical">3</div>
    <div class="white_box" id="13" (click)="boxClicked('13')"></div>
    <div class="black_box" id="23" (click)="boxClicked('23')"></div>
    <div class="white_box" id="33" (click)="boxClicked('33')"></div>
    <div class="black_box" id="43" (click)="boxClicked('43')"></div>
    <div class="white_box" id="53" (click)="boxClicked('53')"></div>
    <div class="black_box" id="63" (click)="boxClicked('63')"></div>
    <div class="white_box" id="73" (click)="boxClicked('73')"></div>
    <div class="black_box" id="83" (click)="boxClicked('83')"></div>
    <div class="border_box_vertical">3</div>
    <!--Row 7-->
    <div class="border_box_vertical">2</div>
    <div class="black_box" id="12" (click)="boxClicked('12')"></div>
    <div class="white_box" id="22" (click)="boxClicked('22')"></div>
    <div class="black_box" id="32" (click)="boxClicked('32')"></div>
    <div class="white_box" id="42" (click)="boxClicked('42')"></div>
    <div class="black_box" id="52" (click)="boxClicked('52')"></div>
    <div class="white_box" id="62" (click)="boxClicked('62')"></div>
    <div class="black_box" id="72" (click)="boxClicked('72')"></div>
    <div class="white_box" id="82" (click)="boxClicked('82')"></div>
    <div class="border_box_vertical">2</div>
    <!--Row 8-->
    <div class="border_box_vertical">1</div>
    <div class="white_box" id="11" (click)="boxClicked('11')"></div>
    <div class="black_box" id="21" (click)="boxClicked('21')"></div>
    <div class="white_box" id="31" (click)="boxClicked('31')"></div>
    <div class="black_box" id="41" (click)="boxClicked('41')"></div>
    <div class="white_box" id="51" (click)="boxClicked('51')"></div>
    <div class="black_box" id="61" (click)="boxClicked('61')"></div>
    <div class="white_box" id="71" (click)="boxClicked('71')"></div>
    <div class="black_box" id="81" (click)="boxClicked('81')"></div>
    <div class="border_box_vertical">1</div>
    <!--Border Row-->
    <div class="border_box_horizntal border_box_special3"></div>
    <div class="border_box_horizntal">a</div>
    <div class="border_box_horizntal">b</div>
    <div class="border_box_horizntal">c</div>
    <div class="border_box_horizntal">d</div>
    <div class="border_box_horizntal">e</div>
    <div class="border_box_horizntal">f</div>
    <div class="border_box_horizntal">g</div>
    <div class="border_box_horizntal">h</div>
    <div class="border_box_horizntal border_box_special4"></div>
  </div>
</div>