<div class="game">
  <div class="grid">
    <!--Border Row-->
    <div class="border_box"></div>
    <div class="border_box">a</div>
    <div class="border_box">b</div>
    <div class="border_box">c</div>
    <div class="border_box">d</div>
    <div class="border_box">e</div>
    <div class="border_box">f</div>
    <div class="border_box">g</div>
    <div class="border_box">h</div>
    <div class="border_box">i</div>
    <div class="border_box">j</div>
    <div class="border_box"></div>
    <!--Row 1-->
    <div class="border_box">10</div>
    <div class="black_box">&#9814;</div>
    <div class="white_box">&#9816;</div>
    <div class="black_box">&#9821;</div>
    <div class="white_box">&#9819;</div>
    <div class="black_box">&#9812;</div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="border_box">10</div>
    <!--Row 2-->
    <div class="border_box">9</div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="border_box">9</div>
    <!--Row 3-->
    <div class="border_box">8</div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="border_box">8</div>
    <!--Row 4-->
    <div class="border_box">7</div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="border_box">7</div>
    <!--Row 5-->
    <div class="border_box">6</div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="border_box">6</div>
    <!--Row 6-->
    <div class="border_box">5</div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="border_box">5</div>
    <!--Row 7-->
    <div class="border_box">4</div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="border_box">4</div>
    <!--Row 8-->
    <div class="border_box">3</div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="border_box">3</div>
    <!--Row 9-->
    <div class="border_box">2</div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="border_box">2</div>
    <!--Row 10-->
    <div class="border_box">1</div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="white_box"></div>
    <div class="black_box"></div>
    <div class="border_box">1</div>
    <!--Border Row-->
    <div class="border_box"></div>
    <div class="border_box">a</div>
    <div class="border_box">b</div>
    <div class="border_box">c</div>
    <div class="border_box">d</div>
    <div class="border_box">e</div>
    <div class="border_box">f</div>
    <div class="border_box">g</div>
    <div class="border_box">h</div>
    <div class="border_box">i</div>
    <div class="border_box">j</div>
    <div class="border_box"></div>
  </div>
</div>