.game{
    background-color: #1a1918;
    width: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grid{
    width: 800px;
    height: 800px;
}
.black_box img{
    width: 90%;
    height: 90%;
    margin-top: 4%;
}
.white_box img{
    width: 90%;
    height: 90%;
    margin-top: 4%;
}
.black_box{
    height: calc(100%/10);
    width: calc(100%/10);
    background-color: #769656;
    padding:0;
    margin:0;
    float: left;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    cursor: pointer; 
}
.white_box{
    height: calc(100%/10);
    width: calc(100%/10);
    background-color: rgb(236, 241, 234);
    padding:0;
    margin:0;
    float: left;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.border_box_horizntal{
    height: calc(100%/10);
    width: calc(100%/10);
    background-color: #272420;
    padding:0;
    margin:0;
    float: left;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 450%; 
}
.border_box_vertical{
    height: calc(100%/10);
    width: calc(100%/10);
    background-color: #272420;
    padding:0;
    margin:0;
    float: left;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 450%; 

}

.border_box_special1{
    border-top-left-radius: 30%;
}
.border_box_special2{
    border-top-right-radius: 30%;
}
.border_box_special3{
    border-bottom-left-radius: 30%;
}
.border_box_special4{
    border-bottom-right-radius: 30%;
}